body {
 	background: #4BFCC7; 
}
header { 
	margin-top: 30px; 
}
form { 
	margin-top: 20px; 
}
#titulo{
	position: absolute;
	left: 80px;
	top: 20px;
	color: red;
	font-size: 30px;
}
#search{
	align-content: left;
}
.w100 { 
	width: 100%; 
}
.btn-primary {
	 background: #0B0B3B; 
	 border-color: #957575; 
	 top: 20px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { background: #0B0B3B;  border-color: #952b2b; }   
.data{
	position:absolute; 
	top: 45px;
	left: 480px;
}
#num{
	width: 40px;
	height: 25px;
}
#results{
	margin-top:80px;
	margin-left: 20px;
	width: 1320px;
	height: 550px;
}

#izquieda{
	float: left;
}